  .services-content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 40px;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 30px;
  }
  
  .description {
    flex: 1;
    margin-right: 20px;
  }
  

  .description h2 {
    margin: 10px 0;
    color: #263246;
    font-size: 30px;
    margin-bottom: 25px;
    font-weight:600;

  }

  .description h3 {
    margin: 10px 0;
    color: #263246;
    margin-bottom: 10px;
    font-weight:400;
  }
  
  .description p {
    margin-block-start: 0;
    margin-bottom: 20px;
    text-align: justify;
    color: #868990;
    font-size: 16px;
  }
  
  .image-container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .image-container img {
    max-width: 80%;
    height: auto;
    border-radius: 10px;
  }
  
  @media (max-width: 768px) {
    .services-content {
      flex-direction: column;
    }
  
    .description {
      margin-right: 0;
      margin-bottom: 20px;
    }
  
    .image-container {
      margin-bottom: 20px;
    }
  }

  
/* Card section styles */
.card-section {
    display: flex;
    background-color: #f7f7f7;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 40px; /* Increased margin to add more space above the cards */
    padding-left: 20px; /* Added padding to the left */
    padding-right: 20px; /* Added padding to the right */
  }
  
  .services-heading {
    text-align: center; /* Center align heading */
    width: 100%;
  }
  
  .card {
    width: 30%;
    padding: 60px;
    background-color: #ffffff; /* Change card background color */
    color: black;
    text-align: center;
    margin-bottom: 50px; /* Increased margin to add more gap between cards */
    box-sizing: border-box; /* Ensures padding is included in the width */
  }
  
  .card-icon {
    font-size: 50px;
    margin-bottom: 10px;
    background-color: #D4ECF6;
    color: #00496C;
    border-radius: 50%;
  }
  
  
  
  @media (max-width: 768px) {
    .card {
      width: 100%; /* Cards stack vertically on smaller screens */
    }
  }
  
  /* "How can we help your team?" section styles */
.help-section {
  background-color: #233452;
  color: white;
  text-align: center;
  padding: 20px;
  margin-top: 40px;
}

.help-section h2 {
  font-size: 45px;
  margin-bottom: 20px;
}

.get-in-touch-button {
  background-color: black;
  color: white;
  border: none;
  padding: 15px 25px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 2cqmax;
  margin-bottom: 40px;
}

.get-in-touch-button:hover {
  opacity: 0.7;
}