
  
  .about-us-content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 40px;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 30px;
  }
  
  .description {
    flex: 1;
    margin-right: 20px;
  }
  

  .description h2 {
    margin: 10px 0;
    color: #263246;
    font-size: 30px;
    margin-bottom: 25px;
    font-weight:600;

  }

  .description h3 {
    margin: 10px 0;
    color: #263246;
    margin-bottom: 10px;
    font-weight:400;
  }
  
  .description p {
    margin-block-start: 0;
    margin-bottom: 20px;
    text-align: justify;
    color: #868990;
    font-size: 16px;
  }
  
  .image-container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .image-container img {
    max-width: 80%;
    height: auto;
    border-radius: 10px;
  }
  
  .reviews-section {
    text-align: center;
  }
  
  .review-background {
    background-image: url('./aboutus-background.jpg');
    background-size: cover;
    background-position: center;
    padding: 40px 20px;
    position: relative;
  }
  
  .review-container {
    position: relative;
    overflow: hidden;
    width: 80%;
    height: 180px;
    margin: 20px auto;
    padding: 10px;
    border-radius: 10px;
  }
  
  .review-text {
    position: absolute;
    width: 100%;
    transition: transform 1s ease-in-out;
    color: white; /* Text color on the background image */
  }
  
  .review-background h2{
    color: white;
    font-size: 25px;
  }
  .review-text p {
    font-size: 15px;
    line-height: 1.6;
  }
  
  
  .dot {
    height: 15px;
    width: 15px;
    margin: 0 5px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.3s;
    cursor: pointer;
  }
  
  .dot.active {
    background-color: #717171;
  }
  
  @media (max-width: 768px) {
    .about-us-content {
      flex-direction: column;
    }
  
    .description {
      margin-right: 0;
      margin-bottom: 20px;
    }
  
    .image-container {
      margin-bottom: 20px;
    }
  }
  