.navbar {
  background-color: #233452; 
  padding: 10px 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  color: #fff;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative; 
}

.menu-icon {
  font-size: 28px;
  cursor: pointer;
  display: none; 
}

.navbar-brand {
  display: flex;
  align-items: center;
  margin-right: 20px;
}

.logo {
  height: auto;
}

.nav-links {
  list-style: none;
  display: flex;
  flex-direction: column; 
  gap: 10px; 
  margin: 0;
  padding: 0;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #333; 
  width: 50%;
  z-index: 1000;
  display: none; 
}

.nav-links.active {
  display: flex;
}

.nav-links li {
  text-align: center;
  width: 100%;
  padding: 10px 0;
}

.nav-links a {
  text-decoration: none;
  color: #fff; 
  padding: 10px; 
}

@media (max-width: 768px) {
  .menu-icon {
    display: block; 
  }

  .nav-links {
    position: absolute; 
    width: 100%;

  }
  .nav-links li {
    border-top: 1px solid #948e8e;
  }

}

@media (min-width: 769px) {
  .menu-icon {
    display: none; 
  }

  .nav-links {
    display: flex !important;
    position: static; 
    background-color: transparent; 
    flex-direction: row;
    gap: 20px; 
  }

  .nav-links li {
    text-align: right;
  }
}